//this keyframe will help as include an animation for our name
@keyframes nameFlowChange {
    //at 50%
    from {
        width: 100%;
        left: 0;
    }
    to {
        width: 0;
        left: 100%;
    }
}

//this keyframe will change the colour of the text
@keyframes textReveal {
    from {
        color: transparent;
    }
    to {
        color: white;
    }
}

//this keyframe will change the colour of the name of the user from white to crimson
@keyframes userNameChange {
    from {
        color: white;
    }
    to {
        color: crimson;
    }
}

//set text colour
@function setTextColour($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}

// the function above changes the color when background color's lightness is greater than 40
//the keyframe animation below will change the value from a scale of 1 to 1.1 in the x and y direction
@keyframes hoverImage {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.1);
    }
}

//media queries. These makes our site responsive on tablets, fullscreen and mobile versions
//media query for tablets
//start of tablet media query
@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

//end of tablet media query
//media query for desktops
@mixin desktop {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

//end of media query for desktops