@import "config";
//import your own fonts from google fonts for better suiting this pactice to your own design
$primary_color: rgb(97, 17, 97);
$text-color: white;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//the asterisk above selects the whole body. it removes the margin, opadding and initializes a box-sizing display
html {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none; //removes preset styling of an anchor tag
    color: $text-color;
    //this removes the decoration in the anchor tag
    cursor: pointer;
}

body {
    .title {
        //this is the services title
        font-size: 4rem;
        font-weight: 300;
        color: rgb(2, 13, 15);
        ;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;
        position: relative;
    }
    .name {
        color: crimson;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .icon {
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
    .brand h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: white;
    }
    .container {
        //the code below centers a div in the centre of the page
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        //this styles the button. we have included a transition property at the end to change background & colour on hover
        .cta {
            display: inline-block;
            padding: 10px 30px;
            color: white;
            background-color: transparent;
            border: 2px solid crimson;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 1rem; //space between letters
            margin-top: 30px;
            transition: 1s ease-in-out; //the time is 5s
            transition-property: background-color, color;
            &:hover {
                color: white;
                background-color: maroon;
            }
        }
    }
    //hello world section start style
    #hello {
        background-image: url("../Images/background2.jpg");
        background-size: cover;
        position: relative;
        background-position: top center;
        z-index: 4;
        //create an overlay; this is done by creating an after pseudo element.
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgb(2, 13, 15);
            ;
            opacity: 0.89;
            z-index: -4;
        }
        .hello {
            max-width: 1200px;
            padding: 0px 50px;
            margin: 0 auto;
            justify-content: flex-start;
            //this puts the class element on the left
            #intro {
                h1 {
                    color: transparent;
                    display: block;
                    width: fit-content;
                    position: relative;
                    font-size: 4rem;
                    animation: textReveal 2s ease-in-out forwards; //this makes it stay like that going forward
                    &:nth-child(1) {
                        animation-delay: 0.5s;
                    }
                    //this is useful in showing the animation delay in stages
                    &:nth-child(2) {
                        animation-delay: 2s;
                    }
                    &:nth-child(3) {
                        animation: userNameChange 2s ease-in forwards;
                        animation-delay: 3s;
                    }
                    span {
                        //for the span we have put it to have a width of zero before start of animation then to 100%
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 0%;
                        background-color: crimson;
                        animation: nameFlowChange 3s ease-in-out;
                        animation-delay: 1s;
                        .name {
                            color: crimson;
                        }
                    }
                }
            }
        }
    }
    //hello world section end style 
    //services section
    #services {
        padding-top: 100px; //create space between top and bottom sections
        .service {
            flex-direction: column;
            //flex-direction puts the tems in the flex container as a column
            text-align: center;
            max-width: 1500px;
            margin: 0 auto;
            padding: 10px 0;
            &.top {
                font-size: 1.4rem;
                margin-top: 2rem;
                font-weight: 300;
                letter-spacing: 0.05rem;
            }
            &.bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .service-item {
                    flex-basis: 80%;
                    //The flex-basis CSS property sets the initial main size of a flex item. It sets the size of the content box unless otherwise set with box-sizing .
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    //the items will be displayed as columns
                    padding: 30px;
                    border-radius: 10px;
                    background-image: url("../Images/background.jpg");
                    background-size: cover;
                    margin: 10px 5%;
                    position: relative;
                    z-index: 4;
                    overflow: hidden;
                    //The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area.
                    //create an overlay; this is done by creating an after pseudo element.
                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        background-color: rgb(22, 36, 39);
                        ;
                        left: 0%;
                        opacity: 0.89;
                        z-index: -4;
                    }
                    h2 {
                        color: white;
                        margin-bottom: 10px;
                        padding-bottom: 5px;
                        text-transform: uppercase;
                    }
                    p {
                        color: white;
                        text-align: left;
                        font-size: 1.4rem;
                        line-height: 1.9rem;
                    }
                }
            }
        }
    }
    //end of services section
    //Start of projects section
    #projects {
        padding-top: 100px;
        .projects {
            flex-direction: column;
            //flex-direction puts the tems in the flex container as a column
            text-align: left; //text will be aligned left
            max-width: 1200px;
            margin: 0 auto;
            padding: 10px 0
        }
        .all-projects {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .project-items {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 80%;
                margin: 20px auto;
                overflow: hidden;
                border-radius: 10px;
                .project-image {
                    flex-basis: 50%;
                    overflow: hidden;
                    height: 300px;
                    position: relative;
                    //this creates an overlay
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background-color: black;
                        opacity: 0.75;
                    }
                    //upon hovering with a mouse the image will change according to the animation below
                    &:hover {
                        animation: hoverImage 1s ease-in-out;
                    }
                }
                .project-info {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    height: 100%;
                    background-color: rgb(22, 36, 39);
                    color: white;
                    align-items: flex-start;
                    justify-content: center;
                    h1 {
                        font-size: 4rem;
                        font-weight: 500;
                    }
                    h2 {
                        font-size: 2rem;
                        font-weight: 500;
                        margin: 10px 0;
                    }
                }
            }
        }
        //end of projects section
    }
    //start of about section
    #about {
        .about {
            flex-direction: column-reverse; //this reverses the order of the columns starting with the col-right
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 100px 20px;
            .col-left {
                width: 250px;
                height: 300px;
                padding-top: 30px;
                .potrait {
                    position: relative;
                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 10px;
                        &:hover {
                            animation: hoverImage 1s ease-out forwards;
                        }
                    }
                    //we create a pseudo element to put in a border just systematically placed around the image
                    &::after {
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: -20px; //top and left indents the border accordingly
                        height: 100%;
                        width: 98%;
                        padding: 0;
                        border: 3px solid crimson;
                        border-radius: 10px;
                        z-index: -2;
                    }
                }
            }
            .col-right {
                width: 100%;
                h2 {
                    font-size: 2rem;
                    font-weight: 500;
                    margin: 10px 0;
                }
                p {
                    margin-bottom: 10px;
                    color: black;
                    text-align: left;
                    font-size: 1.4rem;
                    line-height: 1.9rem;
                }
            }
            .cta {
                color: setTextColour(white)
            }
        }
    }
    //end of about section
    //start of contact section
    .contact {
        flex-direction: column; //the flex direction will be a column
        padding: 100px 0;
        height: 831px;
        .contact-items {
            max-width: 1200px; //this is the max-width
            .contact-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-shadow: 5px 10px rgb(22, 36, 39);
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                width: 50vh;
                text-align: center;
                h1 {
                    font-size: 4rem;
                    font-weight: 500;
                }
                h2 {
                    font-size: 2rem;
                    font-weight: 500;
                    margin: 10px 0;
                }
                &:hover {
                    animation: hoverImage 1s ease-in-out forwards;
                    background-color: lightpink; //added a hover animation effect on the contact boxes
                }
            }
        }
    }
    //end of contact section
    // start of footer
    #footer {
        background-color: rgb(2, 13, 15);
        .footer {
            min-height: 200px;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 50px 0 10px;
            align-items: center;
            justify-content: center;
            text-align: center;
            h2 {
                font-size: 2rem;
                font-weight: 500;
                margin: 10px 0;
                color: white;
            }
            .social-icons {
                display: flex;
                padding-left: 20px;
                .icons-items {
                    width: 50px;
                    height: 5opx;
                    padding: 5px;
                    img {
                        filter: grayscale(1); //sets the icons to black n white
                        &:hover {
                            animation: hoverImage 1s ease-out forwards;
                            filter: grayscale(0);
                            //added a hover effect to change color from greyscale to color-filled
                        }
                    }
                }
            }
            p {
                color: white;
            }
        }
    }
    // end of footer
}